<div class="delivery-container top-marg-100">
    <div class="delivery-header">
        <h2><span>Shipping and Delivery Policy</span></h2>
    </div>
    <img src="/images/delivery.jpeg" class="img-fluid" alt="On-demand Grocery Delivery">
    <div class="delivery-content">
       <p>We strive to deliver products purchased from Plant4u in excellent condition and in the fastest time possible. If this is your first order with Plant4u above 599. If the order is cancelled, lost or un - delivered to your preferred location, we will refund the complete order amount including any platform handling fee, if paid online. If you return an order delivered to you, the platform handling fee will not be refunded.However if you self - ship your returns, we will reimburse self - shipment charges based on Plant4u 's Returns Policy. For accounts whose return behavior violates our fair usage policy, platform handling fee will be non - refundable irrespective of order value.
Plant4u ensures 48 hours delivery across India till the time of confirmation of order.
*Order value is calculated after applying discounts / VAT / GST or any other applicable charges.</p>
<p><strong>WHERE DOES Plant4u DELIVER?</strong></p>
<p>Plant4u ships its product PAN India. <br>
You can check availability of delivery service to your area through the check availability box on any of our products.
<br> We do not deliver our products out of India.</p>
 
<p><strong>WHEN DO WE DELIVER?</strong></p>
<p>
    For all the serviceable areas, the delivery time would be 5 to 7 business days. <br>
(Business days exclude Sundays and National Holidays.) <br>
Same-day deliveries and Next-day delivery are not applicable. <br>
Delivery may take longer due to:
</p>
<ul>
    <li>
        1. Bad weather
    </li>
<li>2. Political disturbances</li>
<li>3. Other unforeseen events.</li>
</ul>
 
<p><strong>IS COD SERVICE AVAILABLE?</strong></p>
<ul>
    <li>Yes, COD is available for orders between Rs. 300 and Rs.5000</li>
<li>COD service will be available at locations depending on our courier partners' serviceability.</li>
</ul>
 
<p><strong>SHIPPING CHARGES:</strong></p>
<ul>
    <li>Fixed shipping and handling charges of Rs. ---- are applicable on all orders below Rs.---- (Excluding COD charges).
</li>
<li>For orders equal to or above Rs. ----(Excluding COD charges) free shipping is available.</li>
</ul>
 
<p><strong>CAN I CHANGE MY BILLING ADDRESS/DELIVERY ADDRESS?</strong></p>
<p>You Can change your address from your profile before order. If for some reason you want to change address after order then contact us at care@plant4u.in. Please note that after your order is shipped you cannot change any details on your order.</p>
 
 
 {{!-- <p><strong>Refund Policy</strong></p>
Easy 10 days refund or replacement.
If a wrong or damaged product is delivered, then it has to be informed to us with images within 10 days after delivery. We will initiate a refund or send the replacement product accordingly. --}}
 
<p><strong>Can you return plants? No.</strong></p>
<p>Plant4u does not accept returns on plants as the poor plants will not survive due to both way transit stress. However, if damaged you are eligible for refunds or replacement.</p>
 
<p>We do guarantee every plant will arrive at your doorstep in great condition.</p>
<p>Please note that the plant might look a little dull due to transit stress. But be assured that exposure to sunlight and proper watering will revive the plant to its natural healthy state.</p>
 
<p>If you are worried about the plant's health, we have your back. Just contact our support team:</p>
 
 <p>Email Us: <span class="text-green">Care@Plant4.in</span></p>
 

    </div>
</div>