<div class="faq-container top-marg-150">
    <div class="faq-header">
        <h2>
            <span>FAQ Questions</span>
        </h2>
    </div>
    <div class="faq-content">
<p><strong>Can I change my billing address?</strong></p>
<p>Mail us at administrator@plant4u.in to change your order information. Please note that after your order is shipped you cannot change any details on your order.</p>
<p><strong>Can I change my order information?</strong></p>
<p>Mail us at administrator@plant4u.in to change your order information. Please note that after your order is shipped you cannot change any details on your order.</p>
<p><strong>Can I change the delivery address?</strong></p>
<p>Mail us at administrator@plant4u.in to change your order information. Please note that after your order is shipped you cannot change any details on your order.</p>
<p><strong>Can I customize the product?</strong></p>
<p>Mail us at administrator@plant4u.in to change your order information. Please note that after your order is shipped you cannot change any details on your order.</p>
<p><strong>Can I get a discount Coupon?</strong></p>
<p>If you have received any discount Coupon on your email, you may use the same. You also have access to the Sale Section on the Website. Apart from that, there are no discount Offers currently available.</p>
<p><strong>Can I place an Order over the Phone?</strong></p>
<p>No, you cannot place the orders on the phone, it's purely based on the website.</p>
<p><strong>Guidelines For Writing Product Reviews.</strong></p>
<p>Product reviews on Plant4u.in are an optimum way to help fellow customers decide what to buy, and what to avoid. Here are tips to writing product reviews:
It's always better to review a product you have used</p>

        
    </div>
</div>