<div id="carouselExampleControls" class="carousel slide top-marg-100" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="welcome-area welcome-area2" id="welcome">
        {{!-- <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-7 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Decorate with <em>Plants</em></h1>
                        <p>One day is not enough to green our earth. Planting caring and love is also expecting our earth from us. Do it, It will heal not only the land but also your body and mind.</p> 
                        <a href="#about" class="main-button-slider">KNOW US BETTER</a>
                    </div>
                </div>
            </div>
        </div> --}}
        <img src="/images/Slide1.jpeg" alt="Slider1">
    </div>
      {{!-- <img class="d-block w-100" src="" alt="First slide"> --}}
    </div>
    <div class="carousel-item">
      <div class="welcome-area" id="welcome">
        {{!-- <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-7 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Cleaner, Greener <em>Together</em></h1>
                        <p>So plant your own gardens and decorate your own soul, instead of waiting for someone to bring you flowers.
</p> 
                        <a href="#about" class="main-button-slider">KNOW US BETTER</a>
                    </div>
                </div>
            </div>
        </div> --}}
        <img src="/images/Slide2.jpeg" alt="Slide2">
    </div>
      {{!-- <img class="d-block w-100" src="" alt="Second slide"> --}}
    </div>
    <div class="carousel-item">
      <div class="welcome-area" id="welcome">
        
        <img src="/images/Slide3.jpeg" alt="Slide2">
    </div>
      {{!-- <img class="d-block w-100" src="" alt="Second slide"> --}}
    </div>
    <div class="carousel-item">
      <div class="welcome-area" id="welcome">
        <img src="/images/Slide4.jpeg" alt="Slide2">
    </div>
      {{!-- <img class="d-block w-100" src="" alt="Second slide"> --}}
    </div>
  </div>
  {{!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> --}}
</div>