<div class="top-marg-100 container">
    <div class="ro">
        <div class="col-12">
            Plant4u Special
        </div>
        <div class="col-12 row specialcontplant">
            <div class="images col-6">
                <img src="/images/officeplant.jpeg" alt="">
            </div>
            <div class="text col-6">
                <img src="/images/bathroomplant.jpeg" alt="">
            </div>
        </div>
        <div class="col-12 row specialcontplant">
            <div class="images col-7">
                <img src="/images/bathroomplant.jpeg" alt="">
            </div>
            <div class="text col-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, voluptas deleniti error, sapiente distinctio itaque laudantium hic et quibusdam ut molestiae sit laboriosam voluptates beatae voluptatem natus non consectetur quisquam.
            </div>
        </div>
    </div>
</div>