<div class="top-marg-100 container bottom-marg-50">
    <div class="row container">
        <div class="col-12">
            <img src="/images/specialheading.png" alt="">
        </div>
        <div class="specialcontplant">
            <div class="images pad-5">
                <img src="/images/officeplant.jpeg" alt="">
            </div>
            <div class="text pad-5">
                <img src="/images/bathroomplant.jpeg" alt="">
            </div>
        </div>
        <div class="specialcontplant">
            <div class="images width-40 height-100">
                    <img class="height-100" src="/images/balcony.jpeg" alt="">
            </div>
            <div class="specialheight width-60">
               <div class="specialcontplant height-52">
                    <div class="text pad-5">
                    <img src="/images/corridor.jpeg" alt="">
                    </div>
                    <div class="text pad-5">
                        <img src="/images/livingroom.jpeg" alt="">
                    </div>
               </div>
               <div class="height-48 pad-5">
                   <img src="/images/bedroom.jpeg" alt="">
               </div>
            </div>
        </div>
    </div>
</div>