<div class="container top-marg-10">
    <label id="userLabel" for="address" class="container__label">Address</label>
    <input type="text" class="container__input customerDetails form-control" id="shipAddr1" name="shipAddr1" placeholder="Address 1"
        value="{{@root.session.customerAddress1}}" required>
    </div>

<div class="container col-sm-6 top-marg-10">
    <label id="userLabel" for="state" class="container__label">State</label>
    <input type="text" class="container__input customerDetails form-control" id="shipState" name="shipState" placeholder="State"
        value="{{@root.session.customerState}}" required>
    </div>

<div class="container col-sm-6 top-marg-10">
    <label id="userLabel" for="country" class="container__label">Country</label>
    <input type="text" class="container__input customerDetails form-control" id="shipCountry" name="shipCountry" placeholder="India"
        value="India" required>
    </div>

<div class="container col-sm-6 top-marg-10">
    <label id="userLabel" for="pinCode" class="container__label">Pin Code</label>
    <input type="text" class="container__input customerDetails form-control" id="shipPostcode" name="shipPostcode"
        placeholder="Pin code" value="{{@root.session.customerPostcode}}" required>
    </div>

<div class="container col-sm-6 top-marg-10">
    <label id="userLabel" for="mobile" class="container__label">Mobile</label>
    <input type="number" class="container__input customerDetails form-control" id="shipPhoneNumber"
        name="shipPhoneNumber" placeholder="Phone number" value="{{@root.session.customerPhone}}" required>
    </div>