    <div class="container py-5 mb-lg-3">
      <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-10 row container404">
         <div class="top-marg-25 text col-12 col-md-6">
            <h1 class="">404 Error</h1>
          <h3 class="mb-4">Unfortunately Plant on this page is not fully grown yet</h3>
          <h4 class="mb-4">
            But Don't Worry you can find fully grown plants from below
            <i class="fas fa-angle-double-down"></i>
          </h4>
         </div>
         <div class="col-12 col-md-6">
            <img src="/images/4042.gif" alt="">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
          <div class="row">
            <div class="col-sm-4 mb-3"><a class="card h-100 border-0 box-shadow-sm" href="/">
                <div class="card-body">
                  <div class="media align-items-center"><i class="fas fa-home h6 mb-0"></i>
                    <div class="media-body pl-3">
                      <h5 class="font-size-sm mb-0">Homepage</h5><span class="text-muted font-size-ms">Return to homepage</span>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-sm-4 mb-3"><a class="card h-100 border-0 box-shadow-sm" href="#">
                <div class="card-body">
                  <div class="media align-items-center"><i class="fas fa-search h6 mb-0"></i>
                    <div class="media-body pl-3">
                      <h5 class="font-size-sm mb-0">Search</h5><span class="text-muted font-size-ms">Find with advanced search</span>
                    </div>
                  </div>
                </div></a></div>
            <div class="col-sm-4 mb-3"><a class="card h-100 border-0 box-shadow-sm" href="/">
                <div class="card-body">
                  <div class="media align-items-center"><i class="fas fa-info-circle h6 mb-0"></i>
                    <div class="media-body pl-3">
                      <h5 class="font-size-sm mb-0">Help &amp; Support</h5><span class="text-muted font-size-ms">Visit our help center</span>
                    </div>
                  </div>
                </div></a></div>
          </div>
        </div>
      </div>
    </div>